/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

.navbar {
  background-color: #0096ff;
}

.navbar-brand {
  color: #000000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

body {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('/images/mpls-skyline5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.main-text {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
}

.home-text {
  display: none;
}
